@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  font-size: 1.4rem;
}

/* .span-me {
  background: -webkit-linear-gradient(120deg, #d33a3aa6, #da2b96c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 900;
} */
